@import url(//fonts.googleapis.com/css2?family=Neonderthaw&family=Satisfy&display=swap);

html,
body {
  background: #112;
  background-size: cover;
}

th {
  font-size: .8rem;
  text-align: center;
}

.input-group > span{
   font-size:.75rem !important;
}