@import url(//fonts.googleapis.com/css2?family=Neonderthaw&family=Satisfy&display=swap);

html,
body {
  background: #112;
  background-size: cover;
}

th {
  font-size: .8rem;
  text-align: center;
}

.input-group > span{
   font-size:.75rem !important;
}

.input-group-text{
  min-width:140px;
  font-size:.75rem;
}
.form-control,
.form-select{
  font-size:.75rem !important;
}